.marquee
	position relative
	height 100vh

	.bkgd
		position absolute
		background-size cover
		top 0
		left 0
		width 100%
		height 100%

	.content
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		text-align center

	h1
		color white
		font-size 80px
		text-transform uppercase
		text-shadow 0px 5px 15px rgba(0,0,0,0.2)
		margin-bottom 10px
		letter-spacing 2px

	.subtitle
		color white
		text-transform uppercase
		letter-spacing 1px

	// transitions
	&.load-in
		.bkgd
			opacity 0
			transition opacity 200ms 200ms ease-in-out

		h1
			opacity 0
			transform translateY(100px)
			transition transform 500ms 500ms ease-in-out, opacity 500ms 500ms ease-in-out

		.subtitle
			opacity 0
			transform translateY(100px)
			transition transform 500ms 600ms ease-in-out, opacity 500ms 600ms ease-in-out

	&.in-viewport
		.bkgd
			opacity 1

		h1, .subtitle
			opacity 1
			transform translateY(0)
