- Layout::title('Welcome')
- Layout::meta(['description' => 'Lightwave Construction'])

.marquee.load-in

	- $bkgd = Decoy::el('home.marquee.image')
	- if ($bkgd->value)
		.bkgd(style="background-image:url('#{$bkgd}')")

	.content
		%h1!= Decoy::el('home.marquee.title')
		.subtitle!= Decoy::el('home.marquee.subtitle')
