/**
 * Mixins and fucntions related to typography
 */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Playfair+Display:400,400i');

/**
 * Use rems for font-size unless the font is less than 14px
 *
 * @param {px}      size
 * @param {boolean} lieral If true, don't do the rem conversion
 */
font-size(size, literal = false)
	if literal or size <= 14px
		font-size size
	else
		font-size rem(size)

/**
 * Simple font declaraations
 *
 * @param  {string} style
 * @param  {unit}   size   Font size, will be rem-ed automatically
 * @param  {color}  color
 */
font(style, size = null, color = null)

	if style == 'sans'
		font-family 'Oswald', sans-serif;
		font-weight 400
	else if style == 'sans bold'
		font-family 'Oswald', sans-serif;
		font-weight 700
	else if style == 'sans light'
		font-family 'Oswald', sans-serif;
		font-weight 300
	else if style == 'serif'
		font-family 'Playfair Display', serif;
		font-weight 400
	else if style == 'serif italic'
		font-family 'Playfair Display', serif;
		font-weight 400
		font-style italic

	else if style == 'icon'
		font-family 'icomoon' !important;
		speak none
		font-style normal
		font-weight normal
		font-variant normal
		text-transform none
		line-height 1

	// Add font size using the rem value of what was passed in
	font-size size if size

	// Add font color
	color color if color

/**
 * Helper for implementing icons
 *
 * @param  {string} name   The name of the icon
 * @param  {unit}   size   Font size, will be rem-ed automatically
 * @param  {color}  color
 */
icon(name, size = null, color = null)
	font 'icon', size, color
	content lookup('icon-' + name)
