// Set font-sizes so rem values for responsive effects.  Combined with the
// font() call on `body`, this scales from 20px down to 14px
:root
	mq-values(font-size, 100%, 80%, max-w)

img
	max-width 100%
	height auto

#main
	margin-top header-height

.block-padding
	padding 2rem 11rem

body
	font 'serif', 18px
