#header
	background white
	text-transform uppercase
	position fixed
	top 0
	left 0
	right 0
	height header-height
	z-index header-z
	padding 10px

	.logo
		position absolute
		top 10px
		left 0
		max-width 300px
		background white
		padding 20px

	.navigation
		position absolute
		right 0
		top 50%
		padding 10px 40px
		font 'sans', 20px, black

		.item
			&:not(:last-of-type)
				margin-right 40px

	// transitions
	&.load-in

		.logo
			transform translateX(-500px)
			transition transform 300ms 800ms ease-in-out

		.navigation
			transform translateY(-100%)
			transition transform 300ms 500ms ease-in-out

	&.in-viewport

		.logo
			transform translateX(0)

		.navigation
			transform translateY(-50%)
