!!!
%html
	%head
		%title= Layout::title()

		-# Boilerplate meta tags
		%meta(charset='utf-8')
		%meta(http-equiv='X-UA-Compatible' content='IE=edge')
		%meta(name='viewport' content='width=device-width, initial-scale=1.0')
		%meta(name='msapplication-tap-highlight' content='no')

		-# Stylesheets
		!= Layout::webpackAssetTag('error.css')

	%body
		#main
			%h1 Error
			.view!= $view
